@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LegalBuzzer - Home</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
</head>

<body>
    <header>
        <div class="navbar">
            <div class="logo">LEGAL BUZZER</div>
            <nav>
                <ul>
                    <li><a href="login" class="design">Login </a></li>
                    <li><a href="signup" class="design">Sign Up</a></li>
                </ul>
            </nav>
        </div>

        <hr>
    </header>

    <main>
        <section class="section1">


            <p>
                LEGAL BUZZER is your ultimate safety companion, designed to keep you and your community safe in an
                ever-changing world. With rising concerns about personal safety and the need to stay informed about
                potential threats, LEGAL BUZZER is here to empower you with real-time crime alerts and a suite of
                features to enhance your security.
            </p>
        </section>

        <section class="section2">
            <span class="row">
                <div class="column"><img src="~/image_1.jpg" style="width:100%"></div>
                <div class="column"><img src="~/image_2.jpg" style="width:100%"></div>
                <div class="column"><img src="~/image_3.jpg" style="width:100%"></div>
            </span>
        </section>
    </main>
    <br>
    <footer>
        <p1>&copy; 2023 Your Company. All Rights Reserved.</p1>
    </footer>
</body>
</html>