@model CrimeAlert.Models.ViewModel.LoginSignupViewModel

@{
    ViewData["Title"] = "Login|Legal buzzer";
}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Legal Buzzer</title>
    <link rel="stylesheet" href="~/css/loginsignup.css">
    <script src="https://kit.fontawesome.com/463b079c62.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script defer src="~/js/Scriptslogin.js"></script>

</head>

<body>

    <div class="container">

        <div class="form-box">
            <h2>Welcome to Legal Buzzer</h2>
           
            <h1>Login</h1>

            <div id="errorMsg" style="color:azure"></div>

            <form class="login" name="loginForm" onsubmit="return validateLoginForm()" method="post" asp-action="LoginPost">

                <div class="input-group">
                    <div class="input-field">
                        <i class="fa-solid fa-user"></i>
                        <input id="username" type="text" asp-for="UserName" placeholder="Username" required>
                    </div>


                    <div class="input-field" style="position:relative">
                        <i class="fa-solid fa-eye" style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%);" id="show-password"></i>
                        <i class="fa-solid fa-lock" style="position: absolute; left: 10px; top: 50%; transform: translateY(-50%);"></i>
                        <input id="password" type="password" asp-for="Password" placeholder="Password" required>
                    </div>


                    <p>Don't have a Account? <a href="signup">Click Here!</a></p><br />

                    <div class="btn-field">
                        <button id="button" type="submit">Log In</button>


                        @if (TempData["errorMessage"] != null)
                        {
                            <div style="color:red;font-weight:bold">@TempData["errorMessage"]</div>
                        }

                    </div>
                </div>
            </form>
        </div>
    </div>

</body>
</html>
